import(methods, grDevices, graphics, stats, MASS, ellipse)

export(.Intern,
	   char,
	   as.char,
	   is.char,
	   charAbbrev,
	   charEscape,
	   charExpand,
	   charFind,
	   charFindAll,
	   charFold,
	   charHeight,
	   charLower,
	   charMatch,
	   charPMatch,
	   charSearch,
	   charSplit,
	   charSubstr,
	   "charSubstr<-",
	   charSub,
	   charSubAll,
	   charTrans,
	   charTrim,
	   charTrimL,
	   charTrimR,
	   charTrunc,
	   charUpper,
	   charWidth,
	   charWrap,
	   p0,
	   p_,
	   ct,
	   cta,
	   ct_,
	   cta_,
	   encodingToNative,
	   encodingToUTF8,
	   encoding,
	   "encoding<-",
	   setEncoding,
	   as.integerBase,
	   as.intBase,
	   regex,
	   pcre,
	   is.regex,
	   is.pcre,
	   useBytes,
	   "useBytes<-",
	   filePath,
	   as.filePath,
	   is.filePath,
	   isDir,
	   isFile,
	   fileAccess,
	   fileAppend,
	   fileChmod,
	   fileCopy,
	   fileCreate,
	   fileDelete,
	   fileDir,
	   fileExists,
	   fileExpand,
	   fileFind,
	   fileInfo,
	   fileLink,
	   fileList,
	   fileListGlob,
	   fileName,
	   fileNormalize,
	   filePackage,
	   fileReadLink,
	   fileRemove,
	   fileRename,
	   fileShow,
	   fileSymLink,
	   fileTemp,
	   fileTime,
	   fileUMask,
	   dirCreate,
	   dirList,
	   dirR,
	   dirTemp,
	   sdir,
	   wdir,
	   ifElse,
	   names,
	   l,
	   nc,
	   nr,
	   Rows,
	   Cols,
	   any.,
	   all.,
	   one,
	   one.,
	   asTRUE,
	   isFALSE,
	   asFALSE,
	   "!",
	   "@",
	   "@<-",
	   "%:%",
	   "%else%",
	   isEmpty,
	   stopIfNot,
	   package,
	   enum,
	   timing,
	   sysFunction,
	   sysCall,
	   matchCall,
	   sysParent,
	   sysParents,
	   parentFrame,
	   sysFrame,
	   sysnFrame,
	   sysStatus,
	   onExit,
	   sysOnExit,
	   dumpFrames,
	   debugOnce,
	   isDebugged,
	   baseEnv,
	   baseNamespaceEnv,
	   emptyEnv,
	   globalEnv,
	   autoloadEnv,
	   tempEnv,
	   topEnv,
	   envNew,
	   envParent,
	   "envParent<-",
	   envProfile,
	   sysSource,
	   evalQuote,
	   evalParent,
	   evalLocal,
	   autoloaded,
	   isNamespaceEnv,

	   opt,
	   optDef,
	   
	   
	   plotOpt,
	   plotOptAll,
	   plotNew,
	   layoutShow,
	   screenSplit,
	   screenSet,
	   screenDelete,
	   screenClose,
	   l__cm,
	   x__in2user,
	   y__in2user,
	   xy__in2user,
	   x__cm2user,
	   y__cm2user,
	   xy__cm2user,
	   xConvert,
	   yConvert,
	   xyConvert,
	   contours,
	   contourplot,
	   filledplot,
	   starplot,
	   stemplot,
	   stripplot,
	   clevelandplot,
	   smoothplot,
	   smoothPanel,
	   coplotIntervals,
	   plotWindowInternal,
	   plotInternal,
	   boxplotInternal,
	   devNew,
	   devCur,
	   devList,
	   devNext,
	   devPrev,
	   devSet,
	   devClose,
	   devCloseAll,
	   devControl,
	   devHold,
	   devHoldFlush,
	   devFlush,
	   devCopy,
	   devCopyNew,
	   devCopyEps,
	   devCopyPdf,
	   devCopyBitmap,
	   devSave,
	   devRecord,
	   devReplay,
	   getSnapshot,
	   playSnapshot,
	   devCapture,
	   devSize,
	   devCapabilities,
	   devInteractive,
	   isDevInteractive,
	   devPdf,
	   devPdfOpt,
	   devPS,
	   devPSOpt,
	   devPdfCairo,
	   devPSCairo,
	   devSvg,
	   devBmp,
	   devJpeg,
	   devPng,
	   devTiff,
	   devBitmap,
	   devXfig,
	   color2rgb,
	   colorAdjust,
	   colorDens,
	   colorBlues9,
	   colorRainbow,
	   colorHeat,
	   colorTerrain,
	   colorTopo,
	   colorCm,
	   colorRwb,
	   colorRyg,
	   colorGray,
	   colorGrey,
	   colorConvertRgb,
	   colorConvert,
	   fontType1,
	   fontCid,
	   fontsPS,
	   fontsPdf,
	   fontsEmbed,
	   optCheck,
	   nclassSturges,
	   nclassScott,
	   nclassFD,
	   rangeExtend,
	   boxplotStats,
	   xyCoords,
	   xyzCoords,
	   in2cm,
	   cm2in,
	   correlation,
	   is.correlation,
	   as.correlation,
	   cwm.colors,
	   rwb.colors,
	   rwg.colors,
	   ryg.colors,
	   Pi,
	   E,
	   lb,
	   ln,
	   ln1p,
	   lg,
	   lg1p,
	   package,
	   panel.boxplot,
	   panel.density,
	   panel.hist,
	   panel.qqnorm,
	   panel.cor,
	   panel.ellipse,
	   panel.reg,
	   pcomp,
	   scores,
	   vectorplot)
	   
S3method(one, default)

S3method(print, filePath)

S3method(contours, default)

S3method(print, s)

S3method(print, regex)
S3method(print, pcre)

S3method(vectorplot, default)
S3method(vectorplot, loadings)
S3method(vectorplot, correlation)

S3method(correlation, formula)
S3method(correlation, default)

S3method(print, correlation)
S3method(summary, correlation)
S3method(print, summary.correlation)
S3method(plot, correlation)
S3method(lines, correlation)

S3method(pcomp, formula)
S3method(pcomp, default)

S3method(print, pcomp)
S3method(summary, pcomp)
S3method(print, summary.pcomp)
S3method(plot, pcomp)
S3method(points, pcomp)
S3method(lines, pcomp)
S3method(text, pcomp)
S3method(screeplot, pcomp)
S3method(biplot, pcomp)
S3method(predict, pcomp)
#S3method(loadings, pcomp)  # This is NOT a generic function, but it works well on pcomp
S3method(pairs, pcomp)
S3method(scores, pcomp)
S3method(correlation, pcomp)
