import(methods, grDevices, graphics, stats, MASS, ellipse, data.table)

export(cEscape,
	   cExpand,
	   cFind,
	   cFindAll,
	   cFold,
	   cHeight,
	   cLower,
	   cMatch,
	   cPMatch,
	   cSearch,
	   cSplit,
	   cSubstr,
	   "cSubstr<-",
	   cSub,
	   cSubAll,
	   cTrans,
	   cTrim,
	   cTrimL,
	   cTrimR,
	   cTrunc,
	   cUpper,
	   cWidth,
	   cWrap,
	   p,
	   p_,
	   ct,
	   cta,
	   ct_,
	   cta_,
	   encodingToNative,
	   encodingToUTF8,
	   encoding,
	   "encoding<-",
	   as.integerBase,
	   rx,
	   perl,
	   is.rx,
	   is.perl,
	   useBytes,
	   "useBytes<-",
	   path,
	   as.path,
	   is.path,
	   isDir,
	   isFile,
	   fileAccess,
	   fileAppend,
	   fileChmod,
	   fileCopy,
	   fileCreate,
	   fileDelete,
	   fileDir,
	   fileExists,
	   fileExpand,
	   fileFind,
	   fileInfo,
	   fileLink,
	   fileList,
	   fileListGlob,
	   fileName,
	   fileNormalize,
	   filePackage,
	   fileReadLink,
	   fileRemove,
	   fileRename,
	   fileShow,
	   fileSymlink,
	   fileTemp,
	   dirCreate,
	   dirList,
	   dirR,
	   dirTemp,
	   sdir,
	   wdir,
	   ifElse,
	   names,
	   n,
	   i,
	   l,
	   nc,
	   nr,
	   Rows,
	   Cols,
	   any.,
	   all.,
	   one,
	   one.,
	   asTRUE,
	   isFALSE,
	   asFALSE,
	   "!",
	   "@",
	   "@<-",
	   "@:=",
	   ":=",
	   "%:%",
	   "%else%",
	   isEmpty,
	   package,
	   enum,
	   timing,
	   opt,
	   optDef,
	   correlation,
	   is.correlation,
	   as.correlation,
	   cwm.colors,
	   rwb.colors,
	   rwg.colors,
	   ryg.colors,
	   Pi,
	   E,
	   lb,
	   ln,
	   ln1p,
	   lg,
	   lg1p,
	   panel.boxplot,
	   panel.density,
	   panel.hist,
	   panel.qqnorm,
	   panel.cor,
	   panel.ellipse,
	   panel.reg,
	   pcomp,
	   scores,
	   vectorplot)
	   
S3method(one, default)

S3method(print, path)

S3method(print, s)

S3method(print, rx)
S3method(print, perl)

S3method(vectorplot, default)
S3method(vectorplot, loadings)
S3method(vectorplot, correlation)

S3method(correlation, formula)
S3method(correlation, default)

S3method(print, correlation)
S3method(summary, correlation)
S3method(print, summary.correlation)
S3method(plot, correlation)
S3method(lines, correlation)

S3method(pcomp, formula)
S3method(pcomp, default)

S3method(print, pcomp)
S3method(summary, pcomp)
S3method(print, summary.pcomp)
S3method(plot, pcomp)
S3method(points, pcomp)
S3method(lines, pcomp)
S3method(text, pcomp)
S3method(screeplot, pcomp)
S3method(biplot, pcomp)
S3method(predict, pcomp)
#S3method(loadings, pcomp)  # This is NOT a generic function, but it works well on pcomp
S3method(pairs, pcomp)
S3method(scores, pcomp)
S3method(correlation, pcomp)
